<!-- Adding expanded view of bot messages -->
<div class="Rectangle-801 mb-4 mr-4 hide" id = "after_add">
    <div class="row">
        <div class="col-9 row mb-2">
            <%= image_tag('bot.png', size: "25", class: "rounded-circle mr-3 ml-4 mt-2")%>
            <div class="Bot-Response mt-2">Bot Response</div>
        </div>
        <div class = "col-2"> </div>
        <div class="col-1 text-center">
            <% if Node.where(bot_id: @bot.id, parent_id: 0).first %>
                <% @node = Node.where(bot_id: @bot.id, parent_id: 0).first %>
                <%= link_to image_tag('del.png', size: "15", class: "mt-2", style: "margin-right: 0px;"), node_destroy_path(@node.id, @bot.id), method: :delete, data: { confirm: "All attached child nodes will be lost. Are you sure?" }, remote: true %>
            <% end %>
            <%# <%= image_tag('expand.png', size: "20", class: "mt-2", id: "expand") %> 
        </div>
    </div>
    
    <div class="Path-485 mb-2"></div>

    <!-- Previous text messages-->
    <div id = "showing_previous_messages">
        <%= render 'bots/showing_previous_messages', delete_button: true %>
    </div>
    
    <!-- Text box area -->
    <div id = "messages_area">
         <%= render 'bots/messages_area' %>
    </div>
     
    <!-- options -->
    <div class="row">
        <div class="options_text ml-3 mb-2 mt-1 col-4">
            Add Message
        </div>
        <div class="ml-2 ">
            <%= link_to image_tag('addbutton.png', size: "30", class: "ml-1 rounded-circle"), root_path %>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="options_text ml-3 mb-2 mt-1 col-4">
            Attach Media
        </div>
        <div class="ml-2 ">
            <%= link_to image_tag('imageicon.png', size: "30", class: "ml-1"), root_path %>
            <%= link_to image_tag('videoicon.png', size: "30", class: "ml-1"), root_path %>
            <%= link_to image_tag('pdficon.png', size: "30", class: "ml-1"), root_path %>
        </div>
    </div>
    <div class="row mb-2">
        <div class="options_text ml-3 mb-2 mt-1 col-5">
            Advanced Settings
        </div>
        <div class="">
            <%= link_to image_tag('arrow.png', size: "25", class: "rounded-circle"), root_path %>
        </div>
    </div>

    <!-- set next action divider-->
    <div class="row">
        <div class="col-5 Set-next-Action ml-3 mt-2 mb-2 mr-0">
            Set next Action
        </div>
        <div class="Path-445 col-5 mt-3 mb-2"></div>
    </div>

    <!-- set next action -->
    <% if @node %>
        <%= form_with scope: :set_next_action, url: node_update_path(@node.id, @bot.id), method: :put,  remote: true do |f| %>
            <div class="mt-1 ml-4">
                <%= f.radio_button :set_next_action , "add_a_node", id: "add_a_node"%>
                <%= f.label :set_next_action , "Add a node", value: "add_a_node" , class: "ml-2 radio_options"%>
            </div>
            <div class="mt-1 ml-4">
                <%= f.radio_button :set_next_action , "transfer_to_agent", id: "transfer_to_agent"%>
                <%= f.label :set_next_action , "Transfer to an agent", value: "transfer_to_agent" , class: "ml-2 radio_options"%>
            </div>
            <div class="mt-1 ml-4 mb-2">
                <%= f.radio_button :set_next_action , "exit_bot", id: "exit_bot", checked: "checked"%>
                <%= f.label :set_next_action , "Exit Conversation", value: "exit_bot" , class: "ml-2 radio_options"%>
            </div>
            <div class="mb-2 text-center" id="exit_message">
               <div class = "options_text text-center mb-1">
                    (This exit message is added by default) 
                </div>
               <% if @node.exit_message%>
                    <%= text_area(:set_next_action, :exit_message, cols: 40, rows: 3, class: 'botresponses_exit_area p-2', value: @node.exit_message)%>
               <% else %>
                    <%= text_area(:set_next_action, :exit_message, cols: 40, rows: 3, class: 'botresponses_exit_area p-2', value: "Thank you. It was nice having a conversation with you.")%>
               <% end %>
            </div>
            <div class="mb-2">
                <%= f.submit value: "Save", class: "btn btn-outline-secondary ml-3 mb-3", style: "width: 270px;"%>
            </div>
        <% end %>
    <% end %>
</div> 
<script type="text/javascript">
	<% if Node.where(bot_id: @bot.id, parent_id: 0).first%>
		<% if @node.set_next_action == "add_a_node" %>
			document.getElementById("add_a_node").checked = true;
			document.getElementById("transfer_to_agent").checked = false;
			document.getElementById("exit_bot").checked = false;
			document.getElementById('exit_message').classList.add('hide');
		<% elsif @node.set_next_action == "transfer_to_agent"%>
			document.getElementById("add_a_node").checked = false;
			document.getElementById("transfer_to_agent").checked = true;
			document.getElementById("exit_bot").checked = false;
			document.getElementById('exit_message').classList.add('hide');
		<% elsif @node.set_next_action == "exit_bot"%>
			document.getElementById("add_a_node").checked = false;
			document.getElementById("transfer_to_agent").checked = false;
			document.getElementById("exit_bot").checked = true;
		<% end %>

	 document.getElementById('exit_bot').onclick = function() {
	 	document.getElementById('exit_message').classList.remove('hide');
	 }
	 document.getElementById('add_a_node').onclick = function() {
	 	document.getElementById('exit_message').classList.add('hide');
	 }
	 document.getElementById('transfer_to_agent').onclick = function() {
	 	document.getElementById('exit_message').classList.add('hide');
	 }
	 <% end %>
</script>