<% for reminder in Reminder.where(bot_id: @bot.id)%>
    <%= form_with scope: :botsettingsupdatereminder, url: reminders_update_botsettings_path(reminder.id), method: :get,  remote: true do |f| %>
        <%= text_area(:botsettingsupdatereminder, :reminder, cols: 40, rows: 3, class: 'container bg-white ml-3 reminder', value: reminder.reminder,  remote: true )%>
        <div class = "row mt-0" style = "margin-top: -20px;">
            <div class = "col-3 ml-3">
                <span style = "color: grey;"> Send After </span>
                <span class="mr-2 ml-4" style="width: 13px;"><%= select_minute(5, field_name: 'rebootconv', style: "background-color: #f7f2ed;") %></span>
                <span > min </span>
            </div>
            <div class = "col-1 text-right">
                <span id = "delete_reminder" class = "mt-0"> 
                <%= link_to image_tag('del.png', size: "20"), reminders_delete_botsettings_path(reminder.id), method: :delete, remote: true %>
                </span>
            </div>
            <%= f.submit "Update", class: "btn btn-success btn-sm" , style: "margin-left: 25px;" %> 
        </div>
    <% end %>
    <div class = "mt-4">  </div>
<% end %>
