<% add = "add" + parent_id.to_s() %>
   <script src = "/assets/ckeditor/ckeditor.js" > </script>
   <script src = "/assets/ckeditor/config.js?t=KA9B" > </script>
   
   <script src = "/assets/ckeditor/lang/en.js?t=KA9B" > </script>
   
   <script src = "/assets/ckeditor/plugins/emoji/emoji.json?t=KA9B" > </script>
   <%# <script src = "/assets/ckeditor/skins/moono-lisa/editor.css?t=KA9B" > </script> %>
  
<div>
	<!-- Add Bot response -->
		<div id = <%= add %> class = "Rectangle-703">
			<%= image_tag('symbol.png', class: "Path-134 rounded-circle", size: "35") %>&nbsp;&nbsp;&nbsp;&nbsp;
			<span class = "triggerfont text-center" style = "margin-top: 3px;">Bot response</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<%= link_to 'Add', new_bot_node_path("bot", @bot.id, parent_id), remote: true, class:"btn btn-secondary btn-sm ", style: "background-color: #3b3939;" %>
		</div>

    <% if  Node.where(bot_id: @bot.id, parent_id: parent_id).first %>
	    <% @node = Node.where(bot_id: @bot.id, parent_id: parent_id).first %>
        <% add_expansion = "add_expansion" + @node.id.to_s() %>
		<% add_collapsed = "add_collapsed" + @node.id.to_s() %>
		<% after_add_collapsed = "after_add_collapsed" + @node.id.to_s() %>
		<% after_add = "after_add" + @node.id.to_s() %>
		<!--After adding bot response expanded view-->
		<div id = <%= add_expansion %>>
			<%= render 'bots/add_expansion', parent_id: parent_id %>
		</div>

		<!--After adding bot response collapsed view when someone clicks on save-->	
		<div id = <%= add_collapsed %> >
			<%= render 'bots/add_collapsed', parent_id: parent_id %>
	    </div>

	<% end %>
		
</div>   

<% if @node %>
	<script type="text/javascript">	 
		<% if Node.where(bot_id: @bot.id, parent_id: parent_id).first %>
			<% @node = Node.where(bot_id: @bot.id, parent_id: parent_id).first %>
			<% if @node.set_next_action != nil %>
				document.getElementById('<%= after_add_collapsed %>').classList.remove('hide');
			<% else %>	
				document.getElementById('<%= after_add %>').classList.remove('hide');
			<% end %>	 
			document.getElementById('<%= add %>').classList.add('hide');
		<% end %> 
	</script>
<% end %>	