<!--Compose message page nodes-->
<%# <div style = "overflow-x: auto;" id = "style-1" style = "width: 2000px;"> %>
	<div class="row" id = "composemessagemain">
		<%= render 'bots/usernode' %> <!-- Triggerphrases-->
		<div class = "Ellipse-160"></div>
		<div class = "Path-510"></div>
		<div id = <%= "botmessagemain_partial" + (parent_id).to_s %>>
			<%= render 'bots/botnode', parent_id: parent_id %> <!--Bot response-->
		</div>
		<div class="row", id= <%= "usermessagemain_partial_with_connector" + (parent_id).to_s %>> <!--Parent bot response and child user node connectors-->
			<%= render 'bots/usermessagesmain_with_connector'%>	
		</div>  
	</div>
<%# </div> %>



