<!--New text message partial for user node -->
<% if @node %>
    <% send_message = "send_message" + (@node.id).to_s() %>
    <%# <%= javascript_include_tag  '//cdn.ckeditor.com/4.13.0/standard-all/ckeditor.js' %>   
    <%# <%= javascript_include_tag  '//localhost:3000/welcome/ckeditor' %> 
     
    <script src = "/assets/ckeditor/ckeditor.js" > </script> 
    
    <% ckeditorid = "ckeditor" + (@node.id).to_s() %>
    <div class="text-center mx-auto">
        <%= form_with scope: :text_messages, url:  messages_new_path(@node.id, @bot.id), method: :post, remote: true do |f|%>
        <div class="botresponses_messages_area_full mt-1">
            <%= text_area :text_messages, :text_message, cols: 30, rows: 4, id: ckeditorid %>
            <%# <%= cktext_area :text_messages, :text_message, cols: 30, rows: 4, ckeditor: { id: "cke" + ckeditorid, style: 'overflow-y: hidden;'}, style: 'background-color: #ebfddd; overflow-y: hidden;', id: ckeditorid   %>  
            <%= f.text_field :message_type, value: "text" , class: "hide"%>
            <div class="Path-484 ml-2 mb-1" style = "margin-top: -5px;"></div>
            <div class = "row">
                <div class = "col-6"></div>
                <div class = "col-1 mt-1" ></div>
                <div class = "col-1 mt-1"></div>
                <div class = "col-1"></div>
                <div class = "col-1"><%= image_submit_tag('send.png', class: "rounded-circle mt-1", style: "width: 25px;", id: send_message) %></div>
            </div>
        </div>
        <% end %>
    </div> 
<% end %>

<script type='text/javascript' charset='UTF-8'>
  
    CKEDITOR.replace( ('<%= ckeditorid %>'), {
        customConfig: "/assets/ckeditor/config.js"
    });
   

    
</script>
