<!--New text message partial for user node -->
<% if @node %>
    <% send_message = "send_message" + (@node.id).to_s() %>

    <%=  javascript_include_tag  "//cdn.ckeditor.com/4.6.1/basic/ckeditor.js" %> 

    <script src="https://use.fontawesome.com/257fdfda17.js"></script>
    <% ckeditorid = "ckeditor" + (@node.id).to_s() %>
    <div class="text-center mx-auto">
        <%= form_with scope: :text_messages, url:  messages_new_path(@node.id, @bot.id), method: :post, remote: true do |f|%>
        <div class="botresponses_messages_area_full mt-1">
            <%= cktext_area :text_messages, :text_message, cols: 30, rows: 4, ckeditor: {toolbar: 'mini' }, style: 'background-color: #ebfddd;', id: ckeditorid  %> 
            <%= f.text_field :message_type, value: "text" , class: "hide"%>
            <div class="Path-484 ml-2 mb-1" style = "margin-top: -5px;"></div>
            <div class = "row">
                <div class = "col-6"></div>
                <div class = "col-1 mt-1"  id = <%= "bold" %>></div>
                <div class = "col-1 mt-1"></div>
                <div class = "col-1"></div>
                <div class = "col-1"><%= image_submit_tag('send.png', class: "rounded-circle", style: "width: 25px;", id: send_message) %></div>
            </div>
        </div>
        <% end %>
    </div> 
<% end %>

<script type='text/javascript' charset='UTF-8'>

</script>
