<% if @node %>
    <!-- After adding child nodes, child nodes with define -->
	<% if @node.children %>
		<% for child in @node.children %>
			<div class="row mb-2" id= <%= "child_define_id" + (child.id).to_s %>>
				<div class="connector_black_link"></div>
				<div class="usermessage_white_box">
					<div class="row">
						<div class="col-1 text-center mt-2 ml-2">
							<%= image_tag('greenflash.png', size: "17", class: "rounded-circle")%>
						</div>
						<div class="col-4 mt-2", style="padding-right: 5px;">
							Add node
						</div>
						<div class="col-6 mt-2 ml-2", style="padding-left: 5px;">
							<%= form_with scope: :define_child_node, url: define_child_node_path(child.id), method: :get, remote: true do |f| %>
							<span class=" text-right ml-5">
								<%= link_to image_tag('del.png', size: "17"), delete_child_nodes_path(child.id,@node.id,@bot.id ), method: :delete, data: { confirm: "All attached child nodes will be lost. Are you sure?" }, remote: true %>
							</span>
							<span class="text-center ml-3">
								<%= f.submit "Define", value: "Define", class: "usermessage_add_button", remote: true %>
							</span>
							<% end %>
						</div>
					</div>
				</div>	
			</div> 
            <!--Expanded view of child nodes after clicking define-->    			
			<div class = "row mb-2 hide"  id= <%= "child_expanded_id" + (child.id).to_s %>>
				<%= render 'bots/user_child_node_expanded', child: child %>
			</div>	
			<div class = "hide" id = <%= "user_child_node_compressed" + (child.id).to_s %>>
                <%= render 'bots/user_child_node_compressed', child: child %> 
			</div>
		<% end %>
	<% end %>
    <!-- Add child node -->	
	<div class="row mb-2">
		<div class="connector_black_link"></div>
			<div class="usermessage_white_box">
				<div class="row">
					<div class="col-1 text-center mt-2 ml-2">
						<%= image_tag('greenflash.png', size: "17", class: "rounded-circle")%>
					</div>
					<div class="col-4 mt-2 Bot-Response", style="padding-right: 5px;">
						Add node
					</div>
					&nbsp;
					<div class="col-6 mt-2 ml-2", style="padding-left: 5px;">
						<%= form_with scope: :number_of_nodes, url: add_child_nodes_path(@node.id, @bot.id), method: :post, remote: true do |f| %>
							<span class=" text-center">
								<%= link_to "-", node_minus_path(@node.id, @bot.id), id: "decrease", method: :get, remote: true, style: "text-decoration: none;" %>
								<%= f.text_field :number, class: "number_of_nodes_field text-center", value: 1,style: "width:30px;", id: "add_child", remote: true %>
								<%= link_to "+", node_plus_path(@node.id, @bot.id), id: "increase", method: :get, remote: true, style: "text-decoration: none;" %>
							</span>
							<span class="text-center Bot-Response" style = "margin-left: 19px;" id = <%= "add_child_nodes_button" + (@node.id).to_s %>>
								<%= f.submit "Add", value: "Add", class: "usermessage_add_button", remote: true %>
							</span>
					<% end %>
					</div>
				</div>
			</div>	
	</div>
    <!-- Error response node -->
	<div class="row">
		<div class="connector_black_link"></div>
		<div class="usermessage_error_message">
			<div class="row">
				<div class="col-1 text-center mt-2 ml-2">
					<%= image_tag('redflash.png', size: "17", class: "rounded-circle")%>
				</div>
				<div class="col-6 mt-2 Bot-Response", style="padding-right: 5px;">
					Error Response
				</div>
				<div class="col-4 mt-2", style="padding-left: 5px;">
					<%= form_with scope: :error_message, url: root_path, method: :put, local: true do |f| %>
						<span class="text-center Bot-Response" style = "margin-left: 34px;">
							<%= f.submit "Define", value: "Define", class: "usermessage_error_button", local: true%>
						</span>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>


<script type="text/javascript">	 
	<% for child in @node.children %>
			user_child_node_compressed = <%= "user_child_node_compressed" + (child.id).to_s %>;
			user_child_node_expanded = <%= "child_expanded_id" + (child.id).to_s %>;
			child_define = <%= "child_define_id" + (child.id).to_s %>;
		<% if child.user_input_type != nil %>
			document.getElementById(child_define.id).classList.add('hide');
			document.getElementById(user_child_node_compressed.id).classList.remove('hide');
			height = document.getElementById('connector_black_link_vertical').style.height;
			height = parseInt(height) + 105.78;
			document.getElementById('connector_black_link_vertical').style.height = height + "px" ;
		<% end %>
	<% end %>
</script>

