<div class="row mb-2">
<div class="connector_black_link"></div>
	<div class="usermessage_white_box">
		<div class="row">
			<div class="col-1 text-center mt-2 ml-2">
				<%= image_tag('greenflash.png', size: "14", class: "rounded-circle")%>
			</div>
			<div class="col-4 mt-2 Bot-Response", style="padding-right: 5px;">
				Add node
			</div>
			<div class="col-6 mt-2", style="padding-left: 5px;">
				<%= form_with scope: :number_of_nodes, url: root_path, method: :put, local: true do |f| %>
			    <span class=" text-center">
				  	<%= link_to "-", root_path %>
					<%= f.text_field :number, class: "number_of_nodes_field text-center", value: 1,style: "width:30px;", local: true%>
					<%= link_to "+", root_path %>
				</span>
				<span class="text-center Bot-Response ml-4">
					<%= f.submit value: "Add", class: "usermessage_add_button", local: true%>
				</span>
			   <% end %>
			</div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="connector_black_link"></div>
	<div class="usermessage_error_message">
		<div class="row">
			<div class="col-1 text-center mt-2 ml-2">
				<%= image_tag('redflash.png', size: "14", class: "rounded-circle")%>
			</div>
			<div class="col-6 mt-2 Bot-Response", style="padding-right: 5px;">
				Error Response
			</div>
			<div class="col-4 mt-2", style="padding-left: 5px;">
				<%= form_with scope: :error_message, url: root_path, method: :put, local: true do |f| %>
                    <span class="text-center Bot-Response ml-4">
                        <%= f.submit value: "Define", class: "usermessage_error_button", local: true%>
                    </span>
                <% end %>
			</div>
		</div>
	</div>
</div>

<div class = "usermessage_expanded_white_box">
    <div class = "row" >
	    <div class = "col-7 ml-1 Bot-Response ml-3 mt-3 mb-3">
           Trigger 1
		</div>
		<div class = "col-4 text-right mt-3">
            <%= image_tag('cross.jpg', size: "17") %>
		</div>
    </div>  
	<div class = "child_divider mt-1"></div>
	<div class = "Node-text-font mt-4 ml-3">Node name</div>
	<div id = "nodename" class = "text-center mt-1" >
		<%= form_with scope: :child, url: node_update_path(@node.id, @bot.id), method: :put,  remote: true do |f| %>
			<%= f.text_field :name, class: "text-center form__input", placeholder:  @node.name  %>
			<div class = "Node-text-font mt-1 ml-3">Expected input type</div>
			<div style= "width: 200px;" class = "ml-3 mt-3"><%= f.select :type, [['Text','text'],['Image','image'],['Video','video'],['Upload Pdf','pdf']], {}, {style: "width: 269px;", class: "mt-2"} %>
		<!--Can render the partial to display previous messages-->
		<%# <% for phrase in Message.where(bot_id: @bot.id, node_id: @node.id)%>
			<%# <span class="user_message_text ml-1 mr-1 mt-4 mb-4">
					<span class= "Node-text-font ml-2 mr-2"><%= phrase.text_message %>
				<%# <span class="hide mb-4" id= <%= "text_delete" + (phrase.id).to_s%> 
				<%# <%= link_to image_tag('cross.jpg', size: "10"), triggerphrase_destroy_path(phrase.id, @bot.id), method: :get, remote: true, class: ""%>	
				<%# </span>		
			</span>	
			</span>  
		<% end %> 
		    <br><br>
			<div class = "mt-2" >
				<%= form_with scope: :messages, url: node_update_path(@node.id, @bot.id), method: :put,  remote: true do |f| %>
					<div class = "row">
						<div class = "col-10">
							<%= f.text_field :text_message, class: "text-left form__input", placeholder:  "Add trigger words", style: "width: 270px;"  %>
						</div>
						<div class = "col-1 mb-4">
							<%= f.submit "Add", class: "submit-text" %>
							
						</div>
					</div>
				<% end %>
			</div>	
			<div class="row mb-2">
				<div class="Node-text-font ml-3">
					Advanced Settings
				</div>
				<div class="col-3">
					<%= link_to image_tag('arrow.png', size: "25", class: "rounded-circle"), root_path %>
				</div>
			</div>
			<div class="mb-2 text-center">
                <%= f.submit value: "Save", class: "btn btn-outline-secondary mb-3", style: "width: 270px;"%>
            </div>
		<% end %>
    </div>
</div>

