<!-- This is the first user messages node: Triggerphrase-->
<div class="Rectangle-827" id="triggerphrase_usermessage" >
  <span class = "row">
    <div class="col-2">
      
    </div>  
    <div class = "mt-2 col-7">
       Initial Message from Customer 
    </div>
    <div class = "col-2 mt-1 text-right submit-text hide"  id = "stop_edit">
      <%= link_to 'OK', triggerphrase_path(@bot.id), method: :patch, remote: true, style: "text-decoration: none; color: green;" %>
    </div> 
    <div class = "col-2 text-right mt-1 mb-2" >
      <%= link_to image_tag('edit.png', size: "18", id: "triggerphrase_edit_icon"), edit_triggerphrase_path(@bot.id), method: :get, remote: true %>		
    </div>
  </span>  
	<div class="Path-389"></div>
  <div id = "triggerphrases_partial"><%= render 'bots/triggerphrases'%></div>
	<div class="Path-389 mt-1 mb-1 hide" id="triggerphrase_usermessage_second_card_divider"></div>
	<div class="text-center mb-1 hide" id="triggerphrase_add_a_new_phrase" >
		<%= form_with scope: :triggerform, url: triggerphrase_create_path(@bot.id), method: :get, remote: true do |f| %>
      <span class="mx-auto text-center row">
       	<div class = "col-8 text-left ml-4 mr-0 p-0">
          <%= f.text_field :trigger, class: "form_trigger_trigger text-center", placeholder: "Add trigger words", remote: true, style: "width: 290px;", id: "addtriggerphrasefield" %> 
        </div>
        <div class = "col-3 text-right" , style= "padding-bottom: 0px; width: 10px; margin-top: -18px; height: 1px;" >
          <%= f.submit "Add", class: "submit-text mt-3", remote: true %>
        </div>
      </span>
    <% end %>
	</div>
</div>
									
									
										
							
