<!-- First navbar -->

<div id = "bot_navigation">
  <%= render 'bots/botnavigation' %>
</div>

<!--Second navbar -->

<nav class="mynavbar bg-white">
  <div class="row">
    <div class="col-8">
      <ul class="steps">
        <li class="past" style = "width: 20px;">
          <span>
            <strong>Steps</strong>
          </span>
        </li>
        <li class="present">
          <span>
            <%= link_to edit_bot_path(@bot.id), class:"navbar_custom_links" do%>
              <div style="height: 50px; width: 200px;">1. Bot Settings</div>
            <% end %>
          </span><i></i> 
        </li>  

        <li class="future">
          <span>
            <%= link_to composemessage_path(@bot.id), class:"navbar_custom_links" do%>
              <div style="height: 50px; width: 200px;">2. Compose Message</div>
            <% end %>
          </span><i></i>
        </li>
      </ul>
    </div>
    <div class="col-2">
      <div class="text-center navbar_content_height_undo" style=  "margin-top: -4%;">
        <%= link_to image_tag('undo.png', size: "45"), root_path%>
        <%= link_to 'Undo', root_path, class: "Undo"%>
      </div>
    </div>
    <div class="col-2">
      <div class="text-center navbar_content_height_undo" style = "background-color: #dedede; color: white">
        Activate
      </div>
    </div>
  </div>
</nav> 

<div class ="container">
	<%= render 'layouts/messages' %> 
</div>

<!-- Main content -->

<% @bots = Bot.where(user_id: current_user.id) %>
<% if @bot.phone == nil && @bot.language  == nil && @bot.initconv  == nil && @bot.triggerpoint  == nil && @bot.starttime  == nil && @bot.endtime  == nil  && @bot.rebootconv  == nil && @bot.days  == nil && @bot.status ==nil  %>
   <div class = row>
		<div class = "col-3 container shadow p-5 bg-white" style = "margin-left: 5%; margin-top: 3%; border: solid 1px #d5d5d5; border-radius: 5%; height: 600px;" id = "upon_first_click" >
			<h3>Bot Settings</h3>
			<br>
			Get started by setting up basic details of how <br> your bot should behave.
			<br><br><br>
			<button type="button" class="btn btn-success" id = "startsetup">Start Setup</button>
			<br><br><br>
			<a style = "font-size: 18px;">Already Have Bot Settings ?</a>
			<br><br>
			You can Import settings from your Existing Bot
			<br>
			<br>
			<div class="dropdown">
				<button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "border: solid 1px grey; width: 160px;">
					Select Bot
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
					<% for bot in @bots %>
					<%= link_to bot.name, edit_bot_path(bot.id), class:"dropdown-item" %> 
					<% end %>
				</div>
			</div>
		</div>
<% else %>
		<div class = "col-3 container shadow p-5 bg-white" style = "margin-left: 5%; margin-top: 3%; border: solid 1px #d5d5d5; border-radius: 5%; height: 600px;" id = "upon_first_click_2" >
		<h3>Bot Settings</h3>
			<br>
			<a style = "color: #7e7e7e">Outgoing number</a><span style = "margin-left: 35%; color: #157e4b; font-weight: 500;" > Change</span><br>
			Business 1 
			<% if @bot.phone != nil %>	
			   (<%= @bot.phone   %>)
			<% end %>   
			<br><br>
			<a style = "color: #7e7e7e">Bot language</a><span style = "margin-left: 45%; color: #157e4b; font-weight: 500;" > Change</span><br>
			<%= @bot.language %>
			<br><br>
			<a style = "color: #7e7e7e">Conversation Starter</a><span style = "margin-left: 29%; color: #157e4b; font-weight: 500;" > Change</span><br>
			<%= @bot.initconv %>
			<br><br>
			<a style = "color: #7e7e7e">Bot trigger</a><span style = "margin-left: 50%; color: #157e4b; font-weight: 500;" > Change</span><br>
			Hi, Hello
			<br><br>
            <a style = "color: #7e7e7e">When no customer response</a><span style = "margin-left: 10%; color: #157e4b; font-weight: 500;" > Change</span><br>
			Reminder 1 - Hi! we are waiting..
			<br><br>
			
		</div>
		<div class = "col-6"  id = "upon_first_click_2" style = "margin-right: 5%; margin-top: 11%;">
			<h3>Select which numbers to send messages from</h3>
			<div class = "container">
			<div class = "col-5 container shadow p-5 bg-white" style = "border: solid 1px #d5d5d5; border-radius: 5%;">
				<div class="row">
						<div class="col-2">
							<%= image_tag('symbol.png', size: "40", class: "rounded-circle")%>
						</div>
						<div class="col-8">
							<div class="custom_font">Business 1</div> 
							+91 <%= @bot.phone%>
						</div>
					</div>	
			</div>
		</div>
    </div>
<% end %>
 
<div class = "col-8" id = "actualform">
	<%= form_with scope: :botsettings, url: bot_path(@bot.id), method: :put,  local: true do |f| %>
		<!-- phone -->
		<div class="row mt-4 ml-1">
			<div class="arrow-left"></div>
			<div class="p-3 mb-1 grey_background my_border_radius text-center">
				I use this phone number <br> 
				for conversation 
			</div>
		</div>

		<div class="ml-3 mt-4">
			<div class="row">
				<div class="col-1">
					<%= image_tag('symbol.png', size: "40", class: "rounded-circle")%>
				</div>
				<div class="col-11 mb-4">
					<div class="custom_font">Business 1</div> 
					<%= @bot.phone%>
				</div>
			</div>	
		</div>
		<!-- language -->
		<div class="row mt-4 ml-1 mb-3">
			<div class="arrow-left"></div>
			<div class="p-3 mb-1 grey_background my_border_radius text-center">
				Select language to reply in
			</div>
		</div>
		<div >
			<% i = 0 %>
			<%= collection_radio_buttons(:botsettings, :language, Language.all, :language, :language) do |b| %>
					<% if i < 3%>
					<span class="radio-toolbar mb-1 mr-4 mt-4">
						<%= b.radio_button %> 
						<%= b.label(:"data-value" => b.value ,class: "shadow p-2 mb-4 rounded text-center")%>
					</span>
					<% else %>
						<%if i==3%>
							<span class="dropdown shadow p-2 mb-4 bg-white rounded text-center">
						<button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							More Languages
						</button>  
						<div class="dropdown-menu overflow_two" aria-labelledby="dropdownMenuButton">
					<% end %>    
						<span class="radio-toolbar text-center">
							<%= b.radio_button%>
							<%= b.label(:"data-value" => b.value , class: "shadow p-2 ml-3 rounded text-center")%> <br>
							</span>
						<% if i== Language.all.count - 1%>   		
							</div>	
						</span>
						<% end %>
					<% end %>
				<% i=i+1%>
			<% end %>
		</div>
		<!-- initiate conversation -->
		<div class="row mt-4 ml-1">
			<div class="arrow-left"></div>
			<div class="p-3 mb-1 grey_background my_border_radius text-center">
				Who will initiate conversation
			</div>
		</div>
		<div class="mt-2 ml-4">
			<%= f.radio_button :initconv , "Bot"%>
			<%= f.label :initconv , "Bot", value: "Bot", class: "ml-2"%>
		</div>
		<div class="mt-2 ml-4">	
			<%= f.radio_button :initconv , "Customer"%>
			<%= f.label :initconv , "Customer", value: "Customer", class: "ml-2"%>
		</div>
		
		<!-- trigger point -->
		<div class="row mt-4 ml-1">
			<div class="arrow-left"></div>
			<div class="p-3 mb-1 grey_background my_border_radius text-center">
				When to send the first message ? (Trigger point for bot)
			</div>
		</div>
		<div class="mt-2 ml-4">
			<%= f.radio_button :triggerpoint , "any_message"%>
			<%= f.label :triggerpoint , "Any message sent from the user", value: "any_message" , class: "ml-2"%>
		</div>
		<div class="mt-2 ml-4">	
			<%= f.radio_button :triggerpoint , "trigger_phrase"%>
			<%= f.label :triggerpoint , "When someone texts me", value: "trigger_phrase" , class: "ml-2"%>
		</div>
		
		<!-- auto reboot -->
		<div class="ml-3 mt-2 alert alert-warning">
			<p>Note:</p>
			<p>If user doesn’t reply in 
				<span class="mr-2 ml-2" style="width: 15px;">
					<%= select_minute(5, field_name: 'rebootconv') %>
				</span>
				minutes, bot will reboot the conversation</p>
		</div>
		<!-- submit -->
		<div class="ml-3 mb-1">
			Awesome, Lets set up the messages now.
			<%= f.submit value: "Set up Messages  >", class: "btn btn-secondary ml-3"%>
		</div>
	<% end %>
</div>					
					
<script type="text/javascript">
// show form
<% if (@bot.phone == nil && @bot.language == nil && @bot.initconv == nil && @bot.triggerpoint==nil && @bot.starttime==nil && @bot.endtime==nil && @bot.startdate == nil && @bot.enddate== nil && @bot.rebootconv==nil && @bot.days==nil && @bot.status==nil)%>
document.getElementById('actualform').classList.add('hide');
<% end %>
document.getElementById('startsetup').onclick = function() {
document.getElementById('actualform').classList.remove('hide');
}
</script>					