<!-- First navbar -->

<div id = "bot_navigation">
  <%= render 'bots/botnavigation' %>
</div>

<!--Second navbar -->
<nav class="container-fluid bg-white" style = "height: 60px;">
  <div class="row">
    <div class="col-8">
      <ul class="steps">
        <li class="past" style = "width: 24px; margin-left: 0%;">
          <span>
            <strong>Steps</strong>
          </span>
        </li>
        <li class="future">
          <span>
            <%= link_to edit_bot_path(@bot.id), class:"navbar_custom_links" do%>
              <div style="height: 50px; width: 200px;">1. Bot Settings</div>
            <% end %>
          </span><i></i>
        </li>
        <li class="present">
          <span>
            <%= link_to composemessage_path(@bot.id), class:"navbar_custom_links" do%>
              <div style="height: 50px; width: 200px;">2. Compose Message</div>
            <% end %>
          </span><i></i>
        </li>
      </ul>
    </div>
    <div class="col-2 text-center">
      
    </div>
    <div class="col-2 border">
       <div class="text-center navbar_content_height_undo navbar_custom_links" style = "margin-top: 4px;">
        Activate
      </div>
    </div>
  </div>
</nav>  

<div class ="container">
	<%= render 'layouts/messages' %> 
</div>

<!-- Main content -->

	<div class = "row">
		<div class = "col-3 border container shadow p-5 bg-white" style = "margin-left: 5%;  margin-right: 3%;  margin-top: 3%; border: solid 1px #d5d5d5; border-radius: 5%; height: 600px;" id = "botsettings_startsetup" >
			<h3>Bot Settings</h3>
			<br>
			Get started by setting up basic details of how <br> your bot should behave.
			<br><br><br>
			<button type="button" class="btn btn-success" id = "startsetup">Start Setup</button>
			<br><br><br>
			<a style = "font-size: 18px;">Already Have Bot Settings ?</a>
			<br><br>
			You can Import settings from your Existing Bot
			<br>
			<br>
			<% if @bots %>
				<div class="dropdown">
					<button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "border: solid 1px grey; width: 160px;">
						Select Bot
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<% for bot in @bots %>
							<% if bot != @bot %>
								<%= link_to bot.name, edit_bot_path(bot.id), class:"dropdown-item" %> 
							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>


		<div id = "bot_settings_completed" class = "col-3" style = "margin-right: 7%;" >
			<%= render 'bots/bot_settings_completed' %>  
		</div>

	    <div class = "col-8" style = "height: 600px; margin-top: 4%; overflow-y: hidden; overflow-x: hidden;" id = "style-1">   
			<div id = "actualform" class = "col-12"  style = "padding-left: 15%; margin-top: 0%;" >
				<!--Phone-->
				<div id = "upon_first_click" class = "" style = "padding-top: 18%; margin-bottom: 22%;">
					<div class = "col-8" style = "margin-right: 1%;">
						<h4>Select which numbers to send messages from</h4>
					</div>		
					<%= form_with scope: :botsettingsphone, url: bot_path(@bot.id), method: :put,  remote: true do |f| %>
						<%= f.text_field :phone, value: "9876567828", class: 'hide' %>
						<%=  button_tag(type: 'submit', class: "col-3 container shadow button-bot-settings ml-3 mt-4", style: "height: 64px;", remote: true, value: "phone", id: "phone" ) do %>	
							<div class="row">
								<div class="col-2">
									<%= image_tag('symbol.png', size: "50", class: "rounded-circle")%>
								</div>
								<div class="col-10">
									<div class="custom_font p-1">Business 1</div> 
									<div>&nbsp;+91 9876567828</div>
								</div>
							</div>	
						<% end %>
					<% end %>
					<% if @bot.phone != nil %>
						<style>
							.button-bot-settings[type="submit"][value="phone"][id = "phone"]{
								box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
								border: solid 1px #00b15c;
								background-color: #deffef;
							};
						</style>
					<% end %>
				</div>
				<!--Language-->
				<div id = "upon_second_click" class ="" style = "margin-right: 1%; padding-top: 18%; margin-bottom: 35%;">
					<div class = "col-8 mb-4" style = "margin-right: 1%;">
						<h4>Select default bot language</h4>
					</div>		
					<%= form_with scope: :botsettingslanguage, url: bot_path(@bot.id), method: :put,  remote: true do |f| %>
						<div class = "ml-0 mt-4">
							<%= f.text_field :English, value: "English", class: 'hide' %>
							<%= f.text_field :Hindi, value: "Hindi", class: 'hide' %>
							<%= f.text_field :Tamil, value: "Tamil", class: 'hide' %>
							<%=  button_tag(value: "English",id: "English" ,type: 'submit', class: "container shadow button-bot-settings ml-3 mt-0", style: "width: auto; padding-top: 6px; padding-bottom: 6px;", remote: true ) do %>	
									English
							<% end %>
							<%=  button_tag(value: "Hindi", id: "Hindi",type: 'submit', class: "container shadow button-bot-settings ml-3 mt-1 text-center", style: "width: auto; padding-top: 6px; padding-bottom: 6px;", remote: true ) do %>	
									Hindi	
							<% end %>	
							<%=  button_tag(value: "Tamil", id: "Tamil", type: 'submit', class: "container shadow button-bot-settings ml-3 mt-1 text-center", style: "width: auto; padding-top: 6px; padding-bottom: 6px;", remote: true ) do %>	
									Tamil	
							<% end %>	
						</div>
					<% end %>
					<% if @bot.language != nil %>
					    <% if @bot.language == "English"%>
							<style>
							    .button-bot-settings[type="submit"][id="English"][value="English"]{
									box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
									border: solid 1px #00b15c;
									background-color: #deffef;
								};
							</style>
						<% end %>
						<% if @bot.language == "Hindi"%>
							<style>
							    .button-bot-settings[type="submit"][id="Hindi"][value="Hindi"]{
									box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
									border: solid 1px #00b15c;
									background-color: #deffef;
								};
							</style>
						<% end %>
						<% if @bot.language == "Tamil"%>
							<style>
							    .button-bot-settings[type="submit"][id="Tamil"][value="Tamil"]{
									box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
									border: solid 1px #00b15c;
									background-color: #deffef;
								};
							</style>
						<% end %>
					<% end %>
				</div>	
				<!--Initiate conversation-->
				<div id = "upon_third_click" class = "" style = "margin-right: 1%; padding-top: 18%; margin-bottom: 35%;">
					<div class = "col-8 mb-4 ml-0" style = "margin-right: 1%;">
						<h4>Who will initiate the conversation?</h4>	
					</div>		
					<%= form_with scope: :botsettingsstarter, url: bot_path(@bot.id), method: :put,  remote: true do |f| %>
						<%= f.text_field :Bot, value: "Bot", class: 'hide' %>
						<%= f.text_field :Customer, value: "Customer", class: 'hide' %>
						<%=  button_tag(value: "Customer", id: "Customer", type: 'submit', class: "container shadow button-bot-settings ml-3 mt-1 text-center", style: "width: auto; padding-top: 6px; padding-bottom: 6px;", remote: true ) do %>	
								Customer	
						<% end %>
						<%=  button_tag(value: "Bot", id: "Bot", type: 'submit', class: "container shadow button-bot-settings ml-3 mt-0", style: "width: auto; padding-top: 6px; padding-bottom: 6px;", remote: true ) do %>	
								Bot
						<% end %>
						<div class = "ml-3 mt-4">
						<strong>Note</strong>
						</div>
						<div class = "ml-3">
						If bot initiates message, it can send only Whatsapp approved templates.
						</div>
						<% if @bot.initconv != nil %>
							<% if @bot.initconv  == "Customer"%>
								<style>
									.button-bot-settings[type="submit"][id="Customer"][value="Customer"]{
										box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
										border: solid 1px #00b15c;
										background-color: #deffef;
									};
								</style>
							<% end %>
							<% if @bot.initconv  == "Bot"%>
								<style>
									.button-bot-settings[type="submit"][id="Bot"][value="Bot"]{
										box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
										border: solid 1px #00b15c;
										background-color: #deffef;
									};
								</style>
							<% end %>
						<% end %>	
					<% end %>
				</div>
				<!--Trigger point-->
				<div id = "upon_third_click_bot" class = "" style = "width: 900px; margin-right: 0%; padding-top: 8%; margin-bottom: 35%;">
				   <div style = "height: 550px; overflow-y: auto; overflow-x: hidden;" id = "style-1">
						<%= form_with scope: :botsettingstrigger, url: bot_path(@bot.id), method: :put,  remote: true do |f| %>
							<div class = "col-8 mb-4"  style = "margin-right: 1%; margin-top: 11%;">
								<h4>Add keywords to which the bot will respond</h4>	
								<%= f.text_field :Default, value: "Default", class: 'hide' %>
								<%= f.text_field :Trigger, value: "Trigger", class: 'hide' %>
								<%=  button_tag(value: "Default", id: "Default", type: 'submit', class: "container shadow button-bot-settings mt-4", style: "width: auto; padding-top: 6px; padding-bottom: 6px; margin-left: -6px;", remote: true ) do %>	
										Any keyword (Default bot)
								<% end %>
								<%=  button_tag(value: "Trigger",id: "Trigger", type: 'submit', class: "container shadow button-bot-settings ml-3 mt-4 text-center", style: "width: auto; padding-top: 6px; padding-bottom: 6px;", remote: true ) do %>	
										Specific keywords (Triggered bot)	
								<% end %>		
							</div>	
						<% end %>
						<% if @bot.triggerpoint != nil %>
							<% if @bot.triggerpoint  == "Default"%>
								<style>
									.button-bot-settings[type="submit"][id="Default"][value="Default"]{
										box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
										border: solid 1px #00b15c;
										background-color: #deffef;
									};
								</style>
							<% end %>
							<% if @bot.triggerpoint  == "Trigger"%>
								<style>
									.button-bot-settings[type="submit"][id="Trigger"][value="Trigger"]{
										box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
										border: solid 1px #00b15c;
										background-color: #deffef;
									};
								</style>
							<% end %>
						<% end %>
						<div id = "botsettings_trigger">
							<%= render 'bots/botsettings_trigger' %>
						</div>
						<div id = "triggered_bot" class = "hide">
							<div class="text-center mb-1" id="triggerphrase_add_a_new_phrase" style = "margin-top: 2%;">
								<%= form_with scope: :triggerform, url: triggerphrase_create_botsettings_path(@bot.id), method: :get, remote: true do |f| %>
									<div class = "row mt-4">
										<div class = "col-4 text-left ml-4 mr-0 p-0">
											<%= f.text_field :trigger, class: "text-left form_trigger_input_bot_settings", placeholder:  "Add trigger words", style: "width: 384px; padding-left: 5px;", id: "addtriggerphrasefield" %> 
										</div>
										<div class = "col-1 text-right ml-0 mb-0 form_trigger_input_bot_settings" , style= "padding-bottom: 0px;" >
											<%= f.submit "Add", class: "submit-text_bot_settings", remote: true %>
										</div>
									</div>	
									<%= link_to " Next", settings_change_path(@bot.id, "reminder"), method: :get, class: "btn btn-success ml-2", style: "margin-right: 10px; margin-top: -68px;",remote: true %>
								<% end %>
							</div>
						</div>
					</div>	
				</div>	
				<!--Reminder-->
				<div class = "col-8 mb-4"  id = "upon_fourth_click" style = "margin-right: 1%; margin-bottom: 35%; padding-bottom: 24%; padding-top: 18%;">
					<h4>Send reminder message if the customer doesn't respond?</h4>	
					<%= form_with scope: :setreminder, url: bot_path(@bot.id), method: :put, remote: true do |f| %>
						<%= f.text_field :no, value: "no", class: 'hide' %>
						<%= f.text_field :yes, value: "yes", class: 'hide' %>
						<%=  button_tag(value: "yes", type: 'submit', class: "mt-4 ml-0", style: "margin-right: 20px; border: none; background-color: #f7f2ed", remote: true ) do %>	
								Yes, Set reminder >
						<% end %>
						<% if @bot.reminder == nil %>
							<div>
								<%=  button_tag(value: "no", type: 'submit', class: "btn btn-success mt-4 ml-0", style: "margin-right: 20px;", remote: true ) do %>	
										Skip this for now
								<% end %>
							</div>
						<% end %>
						<% if @bot.reminder != nil %>
							<% if @bot.reminder == "no" %>
								<div>
									&nbsp;(You skipped this step earlier. If you want, you can add the reminders now.)
								</div>	
								<div style = "margin-right: 300px;">
								<%=  button_tag(value: "no", type: 'submit', class: "btn btn-success mt-4 ml-0", remote: true ) do %>	
										Skip this step
								<% end %>
							</div>	
							<% end %>
						<% end %>	
					<% end %>
				</div>
				<div id= "set_reminder_click" class = "mt-4 ml-0" style = "margin-bottom: 35%; padding-top: 12%;">
					<div style = "height: 400px; overflow-y: auto; overflow-x: hidden;" id = "style-1">
						<h4 class = "">Send reminder message if the customer doesn't respond?</h4>	
						<br>
						<div class = "" style = "margin-left: -13px;">
							<div id = "botsettings_reminder">
								<%= render 'bots/botsettings_reminder' %>
							</div>
							<div id = "botsettings_reminder_form" class = "">
								<%= form_with scope: :botsettingsreminder, url: reminders_create_botsettings_path(@bot.id), method: :get,  remote: true do |f| %>
									<span id = "reminder">
									<%= text_area(:botsettingsreminder, :reminder, cols: 40, rows: 3, class: 'container bg-white ml-3 reminder', placeholder: "Enter reminder message",  remote: true )%>
									<span class = "row ml-3 mt-0" style = "margin-top: -20px;">
										<div style = "color: grey;" class = "col-1 text-left p-0"> Send After </div>
										<div class="mr-2 ml-4 col-2 p-0" style="width: 13px;"><%= select_minute(5, field_name: 'rebootconv', style: "background-color: #f7f2ed;") %> min  </div>
										<div class = "col-1"></div>
										<div class = "col-1 text-left" style = "padding-left: 7px;"  > 
										<%= f.submit "Add", class: "btn btn-success btn-sm" %></div> 
									</span>
								<% end %>	
							</div>	
							<div class = "mt-3 ml-2">
								<div id = "add_reminder">
								    <%= link_to image_tag('add.png'), settings_change_path(@bot.id, "anotherreminder"), method: :get, class: "mt-3", style: "color: green; text-decoration: none;",remote: true %>
									<%= link_to " Add Another Reminder", settings_change_path(@bot.id, "anotherreminder"), method: :get, class: "mt-3", style: "color: green; text-decoration: none;",remote: true %>
								</div>
							</div>		
							<div class = "mt-4 ml-3">
								After sending reminder message
								<div id = "conversation">
									<%= form_with scope: :conversation, url: bot_path(@bot.id), method: :put,  remote: true do |f| %>
										<%= f.text_field :open, value: "open", class: 'hide' %>
										<%= f.text_field :close, value: "close", class: 'hide' %>
										<%=  button_tag(value: "open",id: "open", type: 'submit', class: "container shadow button-bot-settings mb-0 mt-1", style: "width: auto; padding-top: 6px; padding-bottom: 6px; margin-left: -1px;", remote: true ) do %>	
												Keep the Conversation open
										<% end %>
										<%=  button_tag(value: "close", id: "close", type: 'submit', class: "container shadow button-bot-settings ml-3 mb-0 mt-1 text-center", style: "width: auto; padding-top: 6px; padding-bottom: 6px;", remote: true ) do %>	
												End Conversation	
										<% end %>	
									<% end %>	
									<% if @bot.conversation != nil %>
										<% if @bot.conversation  == "open"%>
											<style>
												.button-bot-settings[type="submit"][id="open"][value="open"]{
													box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
													border: solid 1px #00b15c;
													background-color: #deffef;
												};
											</style>
										<% end %>
										<% if @bot.conversation  == "close"%>
											<style>
												.button-bot-settings[type="submit"][id="close"][value="close"]{
													box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
													border: solid 1px #00b15c;
													background-color: #deffef;
												};
											</style>
										<% end %>
						            <% end %>
								</div>
								<% if Reminder.where(bot_id: @bot.id) == [] %>
									<span style = "margin-top: 0px;">
										<%= link_to " Skip this for now", settings_change_path(@bot.id, "skip"), method: :get, class: "btn btn-success mt-4 ml-0", style: "margin-right: 20px;",remote: true, id: "skip_this_for_now" %>
									</span>
								
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div class = "col-8 mb-4"  id = "upon_fifth_click" style = "margin-right: 1%; margin-top: 45%; padding-bottom: 28%;">
					<h4>Bot Settings configured,</h4>	
					<h4>Now let's compose the messages.</h4>	
					<%= link_to 'Compose Messages', composemessage_path(@bot.id), class:"btn btn-success ml-0 mt-4" %>
				</div>	
			</div>
		</div>			
	</div>
	
<%# Outgoingnumber %>
<%#  %>
					
<script type="text/javascript">
// show form
<% if (@bot.phone == nil && @bot.language == nil && @bot.initconv == nil )%>
	document.getElementById('actualform').classList.add('hide');
	document.getElementById('bot_settings_completed').classList.add('hide');
	
	document.getElementById('startsetup').onclick = function() {
	document.getElementById('actualform').classList.remove('hide');
	document.getElementById('botsettings_startsetup').classList.add('hide');
	document.getElementById('bot_settings_completed').classList.remove('hide');
	document.getElementById('Botlanguage').classList.add('hide');
	document.getElementById('Conversationstarter').classList.add('hide');
	document.getElementById('Bottrigger').classList.add('hide');
	document.getElementById('NoCustomerResponse').classList.add('hide');
	document.getElementById('upon_second_click').classList.add('hide');
	document.getElementById('upon_third_click').classList.add('hide');
	document.getElementById('upon_third_click_bot').classList.add('hide');
	document.getElementById('upon_fourth_click').classList.add('hide');
	document.getElementById('set_reminder_click').classList.add('hide');  
	document.getElementById('upon_fifth_click').classList.add('hide');   
	};
<% else %>
    <% if @bot.phone != nil %>
		document.getElementById('actualform').classList.remove('hide');
		document.getElementById('botsettings_startsetup').classList.add('hide');
		document.getElementById('bot_settings_completed').classList.remove('hide');
		document.getElementById('Botlanguage').classList.add('hide');
		document.getElementById('Conversationstarter').classList.add('hide');
		document.getElementById('Bottrigger').classList.add('hide');
		document.getElementById('NoCustomerResponse').classList.add('hide');
		document.getElementById('upon_second_click').classList.add('hide');
		document.getElementById('upon_third_click').classList.add('hide');
		document.getElementById('upon_third_click_bot').classList.add('hide');
		document.getElementById('upon_fourth_click').classList.add('hide');
		document.getElementById('set_reminder_click').classList.add('hide');  
		document.getElementById('upon_fifth_click').classList.add('hide');   
	<% end %>
	<% if @bot.language != nil %>
		document.getElementById('Botlanguage').classList.remove('hide');
		document.getElementById('upon_second_click').classList.remove('hide');
	<% end %>
	<% if @bot.initconv != nil %>
	    document.getElementById('Conversationstarter').classList.remove('hide');
		document.getElementById('upon_third_click').classList.remove('hide');
	<% end %>
	<% if @bot.triggerpoint != nil %>
		document.getElementById('upon_third_click_bot').classList.remove('hide');
		document.getElementById('Bottrigger').classList.remove('hide');
	    <% if @bot.triggerpoint == "Trigger" %>
	    	document.getElementById('triggered_bot').classList.remove('hide');
		<% end %>
	<% end %>
	<% if @bot.reminder != nil %>
	    <% if @bot.reminder == "no" %>
			document.getElementById('upon_fifth_click').classList.remove('hide');
		<% end %>	
	    document.getElementById('NoCustomerResponse').classList.remove('hide');
	<% end %>
	
<% end %>

document.getElementById('upon_first_click').onclick = function() {
	document.getElementById('Botlanguage').classList.remove('hide');
	document.getElementById('upon_second_click').classList.remove('hide'); 
};
document.getElementById('upon_second_click').onclick = function() {
	document.getElementById('Conversationstarter').classList.remove('hide');
	document.getElementById('upon_third_click').classList.remove('hide'); 
};
document.getElementById('upon_third_click').onclick = function() {
	document.getElementById('Bottrigger').classList.remove('hide');
	<% if @bot.initconv == "Customer" %>
		document.getElementById('upon_third_click_bot').classList.remove('hide');
		document.getElementById('upon_fourth_click').classList.add('hide'); 
	<% end %>	 
	<% if @bot.initconv == "Bot" %>
		document.getElementById('upon_fourth_click').classList.remove('hide'); 
		document.getElementById('upon_third_click_bot').classList.add('hide');
	<% end %>	
};
document.getElementById('upon_third_click_bot').onclick = function() {
	<% if @bot.triggerpoint == "Default" %>
		document.getElementById('triggered_bot').classList.add('hide');
		document.getElementById('upon_fourth_click').classList.remove('hide'); 
	<% end %>	 
	<% if @bot.triggerpoint == "Trigger" %>
		document.getElementById('triggered_bot').classList.remove('hide');
		document.getElementById('upon_fourth_click').classList.add('hide'); 
	<% end %>	
};
document.getElementById('upon_fourth_click').onclick = function() {
	<% if @bot.reminder == "no" %>
		document.getElementById('upon_fifth_click').classList.remove('hide'); 
		document.getElementById('set_reminder_click').classList.add('hide');
	<% end %>	 
	<% if @bot.reminder == "yes" %>
		document.getElementById('set_reminder_click').classList.remove('hide');
		document.getElementById('upon_fifth_click').classList.add('hide'); 
	<% end %>	
};
document.getElementById('conversation').onclick = function() {
    document.getElementById('upon_fifth_click').classList.remove('hide');
};	
<% if (@bot.phone != nil && @bot.language != nil && @bot.initconv != nil )%>
    document.getElementById('actualform').classList.remove('hide');
	document.getElementById('botsettings_startsetup').classList.add('hide');
	document.getElementById('bot_settings_completed').classList.remove('hide');
    document.getElementById('add_reminder').onclick = function() {
	document.getElementById('botsettings_reminder_form').classList.remove('hide');
	};
<% end %>

<% if @bot.phone == nil || @bot.language == nil || @bot.initconv == nil || @bot.triggerpoint == nil || @bot.reminder == nil  %>
   document.getElementById('composemessagenavbar').classList.add('hide');
<% end %>
</script>					