<%= render 'layouts/navigation' %>
<div class="container">
    <%= render 'layouts/messages'%>
</div>	
<div class="container-fluid">
	<div class="row">
		<div class="col-4 mt-4" style = "margin-left: 60px; margin-right: 70px;"> 
		    <span style = "font-size: 30px;" class = "mt-2">⇽</span>
			<strong class = "mt-4"> Whatsapp Bot </strong>
			<div class = "container p-2 bg-dark text-white mt-4 text-center" style = "height: 600px; border-radius: 3%; border: solid 1px #707070;background-color: var(--slate);">
				<h1 style = "margin-top: 150px;"> Create Whatsapp Bot </h1>
				<p style = "margin-top: 80px;">Set up Business messages to send your clients automatically when they reach out to you</p>
				<%= link_to 'Create New Bot ', new_bot_path, class: "btn btn-success btn-lg", style: "margin-top: 20px;" %>
			</div>
		</div>
		<div class="col-7 mt-4">
			<div class="container text-center" style = "margin-top: 70px; margin-left: 95px; width: 800px;">
				<h5 class="mb-3 text-left">My Whatsapp bots</h5>
				<div class="row mb-3 smallfont">
				    <div class ="col-1"></div>
					<div class="col-2 text-left">
						Bot Name
					</div>
					<div class="col-2 text-right">
						Last Modified
					</div>
					<div class="col-2 text-right" style = "padding-right: 18px;">
						Status
					</div>
					<div class="col-2 text-right">
						Action
					</div>
				</div>
				<div style="height: 500px; overflow: auto;" id = "style-1" >
				<% for bot in @bots do %>
						<div class="Rectangle-648" style = "margin-top: 2%;">
							<div class = "row" >
								<div class="col-3" style = "padding-left: 8%;margin-top: 2%; margin-left: 1%;">
									<%= bot.name %>
								</div>
								<div class="col-3" style = "margin-top: 2%;" >
									<%= time_ago_in_words(bot.updated_at) %>
								</div>
								<div class="col-3" style = "margin-top: 2%;"  >
									<span class="mr-2" id= <%= "update_active_toggle"+ (bot.id).to_s %> >
										<% if bot.status == "Active" %>
											Active
										<% else%>
											Inactive
										<% end %>
									</span>
									<label class="switch my-auto">
									<% if bot.status == "Active" %>
										<input type="checkbox" checked data-remote="true" class="slider round" data-method="get" data-url= <%= updateactive_path(bot.id )%>>
									<% else %>
										<input type="checkbox" data-remote="true" class="slider round" data-method="get" data-url= <%= updateactive_path(bot.id) %>>
									<% end %>
									<span class="slider round"></span>
									</label>
								</div>
								<div class="col-1" style = "margin-top: 2%;" >
									<%= link_to 'Edit', composemessage_path(bot.id), class:"btn btn-dark btn-sm"  %>
								</div>	
								<div class="col-1 dropdown" style = "margin-top: 1%;" >    
									<button class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<%= image_tag("hamburger.png", size: "30" ) %>
									</button>
									<style>.dropdown-toggle::after { 
										content: none;
										} 
									</style>
									<div class="dropdown-menu">
										<%= link_to 'Statistics', statistics_path(bot.id), id:"customlink", class: "dropdown-item" %> 
										<%= link_to 'Test the bot', test_path(bot.id), id:"customlink", class: "dropdown-item"  %>
										<%= link_to 'Clone', bots_path, id:"customlink", class: "dropdown-item"  %>  
										<%= link_to 'Delete', bot_path(bot.id), method: :delete, data: { confirm: "Are you sure about deleting this bot. This is an irreversible action!" }, id:"customlink", class: "dropdown-item", style: "color: red;" %>    
									</div>
								</div>
							</div>
						</div >
					<% end %>
				</div>

			</div>
		</div>
	</div>
</div>
