<!DOCTYPE html>
<html>
  <head>
    <title>BotBuilderUi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "body">
    
    <div class ="container">
       <%= render 'layouts/messages' %> 
    </div>
     <%= yield %>
    <script>
      setTimeout(function(){
       document.getElementById('loading_symbol').classList.add('hide');
       document.getElementById('first_message').classList.remove('hide');
      }, 2000);

      setTimeout(function(){
       document.getElementById('loading_symbol').classList.remove('hide');
      }, 2500);

      setTimeout(function(){
       document.getElementById('loading_symbol').classList.add('hide');
       document.getElementById('second_message').classList.remove('hide');
      }, 4000);

      setTimeout(function(){
       document.getElementById('loading_symbol').classList.remove('hide');
      }, 4500);

      setTimeout(function(){
       document.getElementById('loading_symbol').classList.add('hide');
       document.getElementById('third_message').classList.remove('hide');
      },6000);

      setTimeout(function(){
       document.getElementById('new_bot_name').classList.remove('hide');
      }, 6500);

      // bot settings select date and time
      document.getElementById('first_schedule').onclick = function() {
        document.getElementById('first_time').classList.add('hide');
        document.getElementById('second_time').classList.add('hide');
        document.getElementById('third_time').classList.add('hide');
        document.getElementById('fourth_time').classList.add('hide');
        document.getElementById('fourth_date').classList.add('hide');
        document.getElementById('first_time').classList.remove('hide');
      }
      document.getElementById('second_schedule').onclick = function() {
        document.getElementById('first_time').classList.add('hide');
        document.getElementById('second_time').classList.add('hide');
        document.getElementById('third_time').classList.add('hide');
        document.getElementById('fourth_time').classList.add('hide');
        document.getElementById('fourth_date').classList.add('hide');
        document.getElementById('second_time').classList.remove('hide');
      }
      document.getElementById('third_schedule').onclick = function() {
        document.getElementById('first_time').classList.add('hide');
        document.getElementById('second_time').classList.add('hide');
        document.getElementById('third_time').classList.add('hide');
        document.getElementById('fourth_time').classList.add('hide');
        document.getElementById('fourth_date').classList.add('hide');
        document.getElementById('third_time').classList.remove('hide');
      }
      document.getElementById('fourth_schedule').onclick = function() {
        document.getElementById('first_time').classList.add('hide');
        document.getElementById('second_time').classList.add('hide');
        document.getElementById('third_time').classList.add('hide');
        document.getElementById('fourth_time').classList.add('hide');
        document.getElementById('fourth_date').classList.add('hide');
        document.getElementById('fourth_time').classList.remove('hide');
        document.getElementById('fourth_date').classList.remove('hide');
      }
       document.getElementById("first_click").onclick = function() {
        document.getElementById("upon_first_click").classList.add('hide');
      }


    </script>
  </body>
</html>
