<!DOCTYPE html>
<html>
  <head>
    <title>BotBuilderUi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'layouts/navigation' %>
    <div class ="container">
       <%= render 'layouts/messages' %> 
    </div>
     <%= yield %>
    <script>
      setTimeout(function(){
       document.getElementById('loading_symbol').classList.add('hide');
       document.getElementById('first_message').classList.remove('hide');
      }, 2000);

      setTimeout(function(){
       document.getElementById('loading_symbol').classList.remove('hide');
      }, 2500);

      setTimeout(function(){
       document.getElementById('loading_symbol').classList.add('hide');
       document.getElementById('second_message').classList.remove('hide');
      }, 4000);

      setTimeout(function(){
       document.getElementById('loading_symbol').classList.remove('hide');
      }, 4500);

      setTimeout(function(){
       document.getElementById('loading_symbol').classList.add('hide');
       document.getElementById('third_message').classList.remove('hide');
      },6000);

      setTimeout(function(){
       document.getElementById('new_bot_name').classList.remove('hide');
      }, 6500);
    </script>
  </body>
</html>
